@page "/Models/Index"
@using Adrian_Hernandez_Bonilla_P1_Ap1.Models
@using Adrian_Hernandez_Bonilla_P1_Ap1.Services
@inject AportesService Service
@inject NavigationManager navigationManager
@rendermode InteractiveServer



<h3>Index</h3>

@code {

}
